body {
    padding: 0;
    width: 700px;
    font-size: 100%;
    border: 3px solid;
    margin: auto;
    scroll-behavior: smooth;

}

header {
    border: 3px solid red;
    display: flex;
    padding: 1em;
    background-image: linear-gradient(30deg, #f6bb73 0%, white 30%, white 50%, white 70%, #f6bb73 100%);
}

header img {
    width: 130px;
    margin-right: 60px;
}

section h1 {
    font-size: 2rem;
    color: red;
}

section h2 {
    font-style: italic;
}

.sup {
    text-shadow: 3px 2px 3px #800000;
}
 nav{
     position: relative;
 }
 .navbar-toggle{
    position: absolute;
    top: 15px;
    right: 29px;
    display: none;
}
.menu{
    display: flex;
    justify-content: center;
    justify-items: center;
    list-style-type: none;
}
.menu  li{
     width: 100px;
}

nav li a {
    
    text-decoration: none;
    color: white;
}
.sup1{
    position: relative;
}
.navdoc li{
    width: 128px;
    height: 31px;
}
.navdoc{
    position: absolute;
    top: 31px;
    display: none;
}
.sup1:hover >ul{
    display: block;
}
.sup2{
    position: relative;
}
.navdoc1 li{
    width: 128px;
    height: 31px;
} 
.navdoc1 {
    position: absolute;
    top: 31px;
    right: 100%;
    top: 0;
    display: none;
}
.sup2:hover>ul{
    display: block;
}
nav ul {
    margin: 0;
    padding: 1em 1em;
    background-color: #800000;
}

section img {
    width: 43%;
}

main {
    padding-left: 1em;
    padding-right: 1em;
}

section h4 {
    margin-bottom: 4px;
    margin-top: 0px;
}

section h3 {
    margin-bottom: 9px;
}

.section1 {
    width: 30%;
}

.section2 {
    width: 70%;
}

main {


    display: flex;
}

section h3 {
    color: red;
}

.sepeaker {
    padding-bottom: 10px;
    border-bottom: 2px solid red;
}

.main1 {
    display: flex;
    border-bottom: 2px solid red;
}

.img1 {
    width: 100%;
    height: 243px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main1-1 {
    margin-right: 10px;
    width: 50%;
}

.main1 ul {
    padding: 0;
}

.main1 ul li {
    display: inline-block;
    width: 83px;
}

.main12 {
    width: 50%;
}

section ol {
    list-style-type: circle;
}


@media screen and (max-width: 870px) {
    header{
        display: flex;
        flex-direction: column;
    }
    header img{
        margin-left: auto;
        margin-right: auto;
    }
    .header1 h1{
        text-align: center;
    }
    .menu{    
       display: none;
    }
    .active{
        display: block;
    }
    .navbar-toggle{
        display: block;
    }
    .menu li{
        margin: 15px auto;
        text-align: center;

    }
    main {
        flex-direction: column;
    }

    section h3 {
        text-align: center;
    }

    section h4 {
        text-align: center;
    }

    section img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .section1 {
        width: 100%;
        margin: 0 auto;
    }

    .section2 {
        width: 100%;
    }

    .section2 p {
        display: block;
        margin-left: auto;
        width: 81%;
        margin-right: auto;
        word-wrap: break-word;
    }
    .section2 blockquote{
        display: block;
        margin-left: auto;
        width: 74%;
        margin-right: auto;
        word-wrap: break-word;
    }
    .sepeaker{
        text-align: center;
    }
    section h2{
        text-align: center;
    }
    .section2 h3 {
        text-align: center;
    }
    .main1{
        flex-direction: column;
    }
    .main1-1{
        width: 100%;
        text-align: center;
    }
    .img1{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-bottom: 28px;
    }
    .main12{
        width: 100%;
    }
    .table{
        display: table;
        margin: 0 auto;
    }

}
footer{
    margin: 0;
    padding: 1em 0em;
    text-align: center;
    color: white;
    background-color: #800000;
}