body{
    font-family: Tahoma, sans-serif;
    border: 3px solid #931420;
    width: 600px;
    margin: auto;
    font-size: 100%;
    background-color: #fffded;
}
header{
    border-bottom: solid  #931420;
    font-size: 85%;
    padding-top: .3em; 
    padding-bottom: .5em;
    background: linear-gradient(30deg,#f6bb73 0%,#f6bb73 30%,white 50%, #f6bb73 80%,#f6bb73 100%);

}
.shaw{ 
    text-shadow: 3px 2px 2px #931420;
}
header img{
    float: left;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: .2em;
}
header h1,h3{
    line-height: .4em;
    color: #800000
}
header h3{
    font-style: italic;
    font-size: 130%;
    color: black;
}
main{
    margin-left: 2em;
    margin-right: 2em;
}
main article p{
    padding-bottom: .5em;
}
main h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 130%;
    color: #800000
}
main h1{
    border-top: solid  #931420; 
    border-bottom: solid  #931420;
    padding-top: .3em;
    padding-bottom: .3em;
    font-size: 140%;
    color: black;
}
main h4{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 0px;
}
main img{
    padding-top: 10px;
}
main p{
        margin-top: 0px;
        margin-bottom: 0px;
}
main blockquote {
    font-style: italic;
    width: 500px;
    margin-top: 10px;
}
main ul{
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom:0px ;
}
main li {
    padding-bottom: .35em;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #931420;
    color: white;
    font-size: 80%;
}

