body{
    font-family: Tahoma, sans-serif;
    border: 3px solid #931420;
    width: 600px;
    margin: auto;
    font-size: 100%;
    background-color: #fffded;
}
header{
    border-bottom: solid  #931420;
    font-size: 85%;
    padding-top: .3em; 
    padding-bottom: .5em;
    background: -webkit-linear-gradient(45deg,#f6bb73 10%,#f6bb73 10%,white 35%, #f6bb73 90%,#f6bb73 90%);

}
.shaw{ 
    text-shadow: 3px 2px 2px #931420;
}
header img{
    float: left;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: .2em;
}
header h1,h3{
    line-height: .4em;
    color: #800000
}
header h3{
    font-style: italic;
    font-size: 130%;
    color: black;
}
main{
    margin-left: 2em;
    margin-right: 2em;
}
main article p{
    padding-bottom: .5em;
}
main h2{
    font-size: 130%;
    color: #800000
}
main h1{
    border-top: solid  #931420; 
    border-bottom: solid  #931420;
    padding-top: .3em;
    padding-bottom: .3em;
    font-size: 140%;
    color: black;
}
main h4{
    padding-bottom: .5em;
}
main img{
    padding-top: 10px;
}
main p{
        padding-bottom: .5em;
}
main blockquote {
    font-style: italic;
    width: 500px;
}
main ul{
    padding-bottom: .25em;
    padding-left: 1.25em;
}
main li {
    padding-bottom: .35em;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #931420;
    color: white;
    font-size: 80%;
}

