header {
  padding: 30px;

  border-bottom: solid #990000;
  line-height: 15px;
  background: linear-gradient(
    45deg,
    #f6bb73 0%,
    #f7c587 20%,
    white 40%,
    white 50%,
    white 60%,
    #f7c587 80%,
    #f6bb73 100%
  )
}

main {
  padding: 30px;
}
body {
  border: solid #990000;
  width: 700px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 400px;
}
header img {
  width: 130px;
  height: 130px;
  float: left;
  margin-top: -20px;
  margin-right: 40px;
}
h1 {
  color: #990000;
  margin-top: 10px;
}
header h3 {
  font-size: 120%;

  font-style: oblique;
}

main img {
  width: 100px;
  height: 100px;
}

h1,h2,main h3 {
  color: #990000;
}
#p1{
    margin-left: 50px;
    font-style: oblique;
}
span {
  text-shadow: -2px -2px 4px #990000;
}

main ul {
  padding-left: 15px;
}
nav p {
  line-height: 3px;
}


#nav1 {
  margin-top: -30px;
  margin-left: -30px;
  margin-right: -30px;

  padding-top: 0.2px;
  background-color: #990000;
  font-size: 110%;
  width: 700px;
}

#nav1 a {
  text-decoration: none;
  color: white;
  display: block;
  width: 120px;

  text-align: center;
  
}

#nav1 li {
  display: inline-block;
  width: 120px;
  height: 30px;
}
#list {
  position: relative;
}

#list:hover > ul {
  display: block;
}
#list ul {
  margin-left: -10px;
  position: absolute;
  top: 30px;
  width: 180px;

  display: none;

  background-color: #990000;
}
#list ul a {
  width: 160px;
  line-height: 2px;
}


  
  #list2:hover > ul {
      
     
    display: block;
  }
  #list2 ul {
   padding-top: 10px;
    position: absolute;
    right:  100%;

    top: 110px;
  
    display: none;
    background-color: #990000;
  }

  #list2 ul a {
    width: 160px;
    line-height: 2px;
  }

  #home:visited{
    color:yellow;
}
#divlink {
  float: left;
  margin-bottom: -15px;
}
#divnav {
  width: 200px;
  clear: left;
  float: left;
}
#divmain {
  width: 400px;
  clear: left;
  float: right;
}
#divmain ul{
    margin-top: -15px;
    list-style: circle;
}
#bodertb {
  border-bottom: solid #990000;
  border-top: solid #990000;
  padding-bottom: 20px;
}
#bodertb img {
  clear: both;
  float: right;
  width: 200px;
  height: 200px;
  padding-bottom: 200px;
}

#bodertb p {
  margin-top: -10px;
}
footer {
    border-top: solid #990000;
    border-bottom: solid #990000;
    background-color: #990000;
    color: white;
    text-align: center;
    clear: both;
  }