#ip1{
    width: 80%;
    margin-left: 1em;
}
#phonenumber,#mail{
    margin-top: 2em;
}
.col-md-4{
    margin-top: 7em;
    margin-right: 3em;
}
#ip2{
    width: 9.5%;
    margin-left: 1em;
}
#phone_new84{
    width: 9%;
}
#ip3{
    width: 69%;
    margin-left: .3em;
}
#phone_new{
    width: 65%;
}