
header{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30vw 70vw;
    background-color: red;
}
header ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    align-items: center;
    list-style-type: none;
}

main{
    display: grid;
    grid-template-rows: 30vh 10vh 20vh 20vh;
    grid-template-columns: 50vw 25vw 25vw;
}
main.ss1{
    display: grid;
    grid-template-columns: 100vw;
}

footer{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100vw;
    text-align: center;
    background-color: yellow;
}

