/* header */
header{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30vw 70vw;
    background-color: red;
}
header ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    align-items: center;
    list-style-type: none;
}
/* section */
.ss1{
    display: grid;
    grid-template-rows: 30vh;
    background-color: royalblue;
    justify-content: center;
    
}
/* main */
.ss2{
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: 40vh;
    float: left;
    background-color: seagreen;
}
.ss3{
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: 40vh;
    background-color: saddlebrown;
}
/* footer */
footer{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100vw;
    text-align: center;
    background-color: yellow;
}

