#img1{
    float: left;
    margin-right: 1em;
}   
   
   h1,h3{
       color:#cc3300;
   }
   header{
    background-color: #facc9e;
   }
#h33{
    
}
body{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}