/* styles body */
body{
    font-family: Tahoma, sans-serif;
    border: 3px solid #931420;
    width: 800px;
    margin: auto;
    font-size: 100%;
    background-color: #fffded;
}
/* styles header */
header{
    font-size: 85%;
    padding-top: .3em; 
    background: linear-gradient(30deg,#f6bb73 0%,#f6bb73 30%,white 50%, #f6bb73 80%,#f6bb73 100%);
}
.shaw{ 
    text-shadow: 3px 2px 2px #931420;
}
header img{
    float: left;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 1em;
}
header h1,h3{
    padding-top: .3em;
    line-height: .4em;
    color: #800000
}
header h3{
    font-style: italic;
    font-size: 130%;
    color: black;
}
/* styles nav_menu */
#nav_menu ul{
    list-style-type: none;
    background-color:#800000; 
}
#nav_menu ul li{
    display: inline-block;
    width: 140px;  
    height: 50px;
}
#nav_menu ul li a{
    text-align: center;
    text-decoration: none;
    display: block;
    color:white;
    padding-top: 15px;
    font-weight: bold;
}
#nav_menu ul li a.current{
    color: yellow;
}
#nav_menu ul li:hover, #nav_menu ul li:focus {
    background-color:gray;

}
#nav_menu ul ul li a{
    padding: 10px 0px;
}
/* styles nav_menu About Us */
.about{
    position: relative;
}
.about ul{
    position: absolute;
    top:50px;
    left: 43px;
    display: none;
    padding-left: 0px;
}
.about:hover>ul{
    display: block;
}
/* styles nav_menu Past Speakrtes*/
.pastspeakres{
    position: relative;
}
.pastspeakres ul{
    position: absolute;
    left: -100%;
    top: 0px;
   
}
.pastspeakres:hover>ul{
    display: block;
    width: 140px;
}
/* styles layout */
#OurMission{
    width: 70%;
    float: right;
    margin-right: 15px;
}
#Guest{
    width: 25%;
    float: left;
    padding-left: 20px;
}
/* styles layout aside */
main aside h3{
    margin-top: 0px;
    margin-bottom: 0px;
}
main aside h4{
    margin-top: 15px;
}
main img{
    padding-top: 10px;
}
/* styles layout section*/
/* styles layout section ar_1*/
main section article h3{
    margin-top: 0px;
    margin-bottom: 0px;
}
/* styles layout section ar_2*/
main section article h2{
    font-size: 130%;
    border-bottom: 2px solid black;
    padding-bottom: 8px;
}
.ar_2 h3{
    padding-top: 0px;
}
.ar_2 h4{
    margin-top: 15px;
}
.ar_2{
    border-bottom: 2px solid black; 
}
.aside_imgsoctt{
    float: right;
    width: 240px;
}
.aside_imgsoctt img{
    padding-top: 0px;
}
div p{
    width: 260px;
    margin-bottom: 0px;
}
.nav_1{
    margin-bottom: 15px;
}
/* styles layout section ar_3 */
.ar_3{
    margin-top: 15px;
}
.nav_list1 ul{
    padding-left: 20px;
}
.nav_list1 ul li{
    list-style-type:circle ;
}
/* styles footer */
footer{
    display: flex;
    justify-content: center;
    background-color: #931420;
    color: white;
    font-size: 80%;
    clear: both;
}
.slicknav_menu {
	display:none;
}
/* Responsive */
@media only screen and (max-width: 768px) {
    body{
    width: 95%;
    }
    #OurMission{ 
        width: 100%;
    }
    #Guest{
        width: 100%;
    }
    .nav_guset{
        display: flex;
        text-align: center;
    }
    .ava2, .ava3, .ava4{
        padding-left: 1.5em;
    }
    .ar_1,.ar_2,.ar_3 {
        margin-left: 2.2em;
    }
    .slicknav_menu {
        display:none;
    }
    .js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}
/* Responsive menu slicknav*/


