@media screen and (max-width: 719px) {
    .js .main-nav {
        display:none;
	}
	
	.js .slicknav_menu {
        display:block;
    }
    
    header {
        border-bottom: 5px solid firebrick;
    }

    .speaker {
        float: none;
        width: 100%;
        padding-right: 0;
    }

    .speaker ul {
        text-align: center;
    }

    .speaker li {
        display: inline-block;
        width: 24%;
    }

    .main-contents {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .dinosaur1 {
        float: none;
        width: 100%;
    }

    .dinosaur2 {
        float: none;
        width: 100%;
        margin-top: 10px;
    }
}