/*-----BASIC------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-width: 480px;
    border: 5px solid firebrick;
    font-family: 'Roboto Slab', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*-----HEADER-------------------------------------------------------------------*/
header {
    padding: 1em 0;
    background-image: linear-gradient(30deg,sandybrown 0%, white 30%, white 50%, white 80%, sandybrown 100%);
}

.logo {
    float:left;
    display: block;
    margin: 0 50px;
}

header h1 {
    color: firebrick;
    float: right;
}

header h3 {
    font-style: italic;
    float: right;
}

.shadow {
    text-shadow: 2px 2px 2px firebrick;
}

.slicknav_menu {
    display:none;
}

/*-----NAV------------------------------------------------------------------*/
.main-nav {
    background-color: firebrick;
}

.main-nav ul {
    width: 100%;
}

.main-nav ul li {
    float: left;
    display: block;
    width: 20%;
    position: relative;
}

.main-nav ul li a {
    background-color: firebrick;
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: white;
}

.main-nav ul li a:hover {
    font-style: italic;
    background-color: gray;
}

.sub {
    display: none;
}

.main-nav ul ul li {
    float: none;
    width: 100%;
}

.main-nav ul ul li a {
    float: none;
    display: block;
}

.main-nav ul li:hover > ul {
    display: block;
    position: absolute;
    top: 100%;
}

.sub-right {
    display: none;
}

.main-nav ul ul ul li {
    float: none;
    width: 100%;
}

.main-nav ul ul ul li a {
    float: none;
    display: block;
}

.main-nav ul ul li:hover > ul {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
}

/*-----MAIN------------------------------------------------------------------*/
main {
    padding: 15px 15px;
    background-color: lightgoldenrodyellow;
}

/*-----SPEAKER------------------------------------------------------------------*/
.speaker {
    width: 30%;
    float: left;
    padding-right: 10px;
}

.speaker ul {
    list-style-type: none;
}

.speaker ul li {
    margin-bottom: 30px;
}

.speaker h3 {
    color: firebrick;
    margin-bottom: 10px;
}

.speaker h4 {
    margin-bottom: 5px;
}

.speaker a:hover {
    font-style: italic;
}

/*-----MAIN-CONTENTS------------------------------------------------------------------*/
.main-contents {
    width: 70%;
    float: right;
}

/*-----MISSION------------------------------------------------------------------*/
.mission h3 {
    color: firebrick;
    margin-bottom: 10px;
}

.mission p {
    text-align: justify;
}

blockquote {
    padding: 1em 2em;
    font-style: italic;
}

/*-----MONTH-SPEAKER------------------------------------------------------------------*/
.month-speaker h3 {
    margin-bottom: 10px;
}

.dinosaur {
    border-top: 3px solid firebrick;
    border-bottom: 3px solid firebrick;
    padding: 1em 0;
    width: 100%;
}

.dinosaur h3 {
    color: firebrick;
}

.dinosaur h4 {
    margin-bottom: 5px;
}

.dinosaur1 {
    width: 50%;
    float: left;
    padding-right: 20px;
}

.dinosaur1 p {
    margin-bottom: 10px;
    text-align: justify;
}

.dinosaur1 a:first-of-type {
    margin-right: 10px;
}

.dinosaur1 a:hover {
    font-style: italic;
}

.dinosaur2 {
    width: 50%;
    padding: auto;
    float: right;
}

.dinosaur2 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border: 1px solid black;
}

/*-----TICKET------------------------------------------------------------------*/
.ticket {
    margin-top: 10px;
}

.ticket h3 {
    color: firebrick;
    margin-bottom: 10px;
}

.ticket ul {
    padding-left: 20px;
    margin-bottom: 10px;
    list-style: circle;
}

.ticket ul li {
    line-height: 1.5em;
}

/*-----FOOTER------------------------------------------------------------------*/
footer {
    background-color: firebrick;
    text-align: center;
    color: white;
    padding: 1em 0;
}

footer h3 {
    font-weight: normal;
}